@include b(footer) {
	background-color: $color-medium;
	@include e(link) {
		padding: 0.5rem 2.5rem;
		display: inline-block;
		margin-bottom: 0.5rem;
		border-bottom: 2px solid transparent;
		@include breakpoint-min(lg) {
			margin-bottom: 0;
			padding: 1rem;
		}
		&:hover {
			color: $color-lightest;
		}
		&:focus {
			color: $color-lightest;
		}
	}
}
